<h1>Vehicle Details</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Vin</th>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Red Line Rpm</th>
        <th>Max Fuel Volume</th>
        <th>Last Service Date</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{vehicleDetailVm.vehicle.vin}}</td>
        <td>{{vehicleDetailVm.vehicle.make}} </td>
        <td>{{vehicleDetailVm.vehicle.model}}</td>
        <td>{{vehicleDetailVm.vehicle.year}}</td>
        <td>{{vehicleDetailVm.vehicle.readlineRpm}}</td>
        <td>{{vehicleDetailVm.vehicle.maxFuelVolume}}</td>
        <td>{{vehicleDetailVm.vehicle.lastServiceDate}}</td>
    </tr>
    </tbody>
</table>